DATABASE_PATH=./storage/database.sqlite
DB_LOGGING=false
NODE_PORT=3002

ACCOUNT_ENTRIES_SERVICE_URL=http://service-lancamentos:3001
ACCOUNT_ENTRIES_ENDPOINT=/account-entries

BUDGET_SERVICE_URL=http://budget-service:3003
BUDGET_SERVICE_VERIFY_ENDPOINT=/budgets